<p id="notice"><%= notice %></p>

<h1>Races</h1>

<table class="table table-primary table-striped table-md table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Circuit</th>
      <th>Championship</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @races.each do |race| %>
      <tr>
        <td><%= race.name %></td>
        <td><%= race.circuit.name %></td>
        <td><%= race.championship.name %></td>
        <td><%= link_to 'Show', race %></td>
        <td><%= link_to 'Edit', edit_race_path(race) %></td>
        <td><%= link_to 'Destroy', race, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Race', new_race_path %>
